/*@media (max-width: 1280px) {}*/

// 1280px;
@media (max-width: 1279px) {
    .container {
        width: 960px; // !important;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 640px;
        padding-inline: 2rem;
    }

    .title {
        font-size: clamp(1rem, 1rem + 1vw, 2rem);
    }

    .left-wrapper {
        &__title {
            margin-bottom: 25px;
        }

        &__text {
            font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
            margin-bottom: 20px;
        }
    }



    .left-wrapper {
        &__button {
            font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1rem);
            border-radius: 0.8rem;
            padding: 0.6em 1.4em;
        }
    }

    .main-section {
        &__link {
            font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1rem);
            border-radius: 0.8rem;
            padding: 0.6em 1.4em;
        }
    }

}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding-inline: 1rem;
    }

    .title {
        font-size: clamp(1.188rem, 1rem + 0.7vw, 1.2rem);
    }

    .left-wrapper {
        &__title {
            margin-bottom: 15px;
        }

        &__text {
            font-size: clamp(0.5rem, 0.2rem + 0.5vw, 1rem);
            margin-bottom: 10px;
        }

        &__button {
            font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1rem);
            border-radius: 0.8rem;
            padding: 0.6em 1.4em;
        }
    }

    .main-section {
        &__link {
            font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1rem);
            border-radius: 0.8rem;
            padding: 0.6em 1.4em;
        }
    }
}