/*@media (max-width: 1280px) {}*/

// 1280px;
@media (max-width: 1279px) {
    .container {
        width: 960px; // !important;
    }

    .title {
        font-size: clamp(2.5rem, 1.707rem + 2.21vw, 3.5rem);
        line-height: 5rem;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px; // !important;
    }
}

@media (max-width: 767px) {
    .container {
        width: 640px; // !important;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%; // !important;
    }
}