@media (max-width: 1279px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }

    .title {
        font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
    }

    .left-wrapper__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 640px;
        padding-inline: 4rem;
    }
    .left-wrapper__title {
        margin-bottom: 20px;
    }
    .left-wrapper__text {
        font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
        margin-bottom: 20px;
    }
    .right-wrapper{
        width: 45%;
    }
     .button{
        border-radius: 0.5rem; // !!!
        padding: 0.35em 1.3em; // !!!!!! 
    }
}



@media (max-width: 575px) {
    .container {
        width: 100%;
        padding-inline: 2rem;
    }
    .left-wrapper__title {
        font-size: clamp(0.7rem, 0.8rem + 1vw, 1rem);
        margin-bottom: 15px;
    }
    .left-wrapper__text {
        margin-bottom: 15px;
        font-size: clamp(0.4rem, 0.2rem + 0.5vw, 0.7rem);
    }
    .button{
        font-size: clamp(0.7rem, 0.8rem + 1vw, 1rem);
    }
}