@import "_normalize.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

* {
    box-sizing: border-box;
}

html {
    background-color: #2B2B2B;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin-inline: auto;
    padding-inline: 0.5rem;
}

// ==================== PAGE 1 ====================
.main-section {
    min-height: 60vh; // !!!
    padding-block: 30px 60px; // !!!

    &__header {
        height: auto; /// !
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__logo {
        height: 34px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: clamp(1.25rem, -2.22rem + 9.66vw, 5.625rem); // !!!
    }

    &__item {
        @include text-format($font-family: "Poppins-Regular", $font-weight: 400, $font-style: normal, $font-size: clamp(1.125rem, 0.828rem + 0.83vw, 1.4rem), $line-height: normal); // !!!!!
    }

    &__link--white { // modificator!!
        color: $color-white;
    }

    &__content-container {
        display: flex;
        gap: 8vw;
        align-items: center;
        justify-content: space-around;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem; // !!!
    padding: 0.6em 2em; // !!!!!! 

    @include text-format($font-family: "Poppins-Regular", $font-weight: 400, $font-style: normal, $font-size: clamp(1.125rem, 0.828rem + 0.83vw, 1.4rem), $line-height: normal, $color: $color-lightgray); // !!!!!

    // для текста???
    &--bg-purple {
        background-color: #BFAFF2; // ???
    }

    &--bg-yellow {
        background-color: #F8D57E; // ???
    }
}

.title {
    @include text-format($font-family: "Poppins-SemiBold", $font-weight: 600, $font-style: normal, $font-size: clamp(1.5rem, 1.5rem + 1vw, 3.75rem), $line-height: 1.2em, $color: $color-white); // !!!!!
}
.left-wrapper {
    width: 45%;

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        @include text-format($font-family: "Poppins-Regular", $font-weight: 400, $font-style: normal, $font-size: clamp(0.875rem, 0.875rem + 0.5vw, 1rem), $line-height: 1.3em, $color: #808080); // !!!!!
        margin-bottom: 70px;
        //         $font-size: clamp(0.875rem, 0.875rem + 0.5vw, 1rem),
    }
}

.right-wrapper {
    background-color: $color-lightgray;
    border-radius: 1rem;
    @include flex-center;
    &__diagram{
        width: 90%;
    }
}























// ==================== PAGE 2 ====================
.section-preview {
    min-height: 870px;

    &__top {
        min-height: 100px;
        @include flex-center;
        margin-bottom: 100px;
    }

    &__bottom {
        margin-inline: auto;
        width: 1080px;
        height: 500px;
        background-color: #FDF5DF;
        border-radius: 15px;
        @include flex-center;
    }
}

// ==================== PAGE 3 ====================
.section-feedback {
    min-height: 870px;
    margin-bottom: 100px;

    &__top {
        height: 348px;
        display: flex;
        justify-content: space-evenly;
    }

    &__icon-box {
        width: 255px;
        height: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin-bottom: 32px;
    }

    &__title {
        //@include font-poppins_semibold;
        //@include text-format($font-size: 18px, $line-height: 32px);
        margin-bottom: 10px;
    }

    &__text {
        //@include font-poppins_regular;
        //@include text-format($color: #555555, $font-size: 18px, $line-height: 32px);
        text-align: center;
    }

    &__feedback-block {
        margin-inline: auto;
        width: 1080px;
        height: 500px;
        background-color: #BFAFF2;
        border-radius: 30px;
        padding: 80px 162px 0 162px;
    }

    &__feedback-text {
        width: 740px;
        height: 140px;
        //@include font-poppins_semibold;
        //@include text-format($color: #2B2B2B, $font-size: 24px, $line-height: 40px);
        margin-bottom: 50px;
    }

    &__author-container {
        display: flex;
        align-items: center;
    }

    &__author-image {
        margin-right: 20px;
    }

    /*
    &__author-name {
        //@include font-poppins_regular;
        //@include text-format($color: #2B2B2B, $font-size: 18px, $line-height: 32px);
    }
*/
    &__stars-container {
        display: flex;
        gap: 5px;
    }

    &__star-icon {
        height: 20px;
    }
}

// ==================== PAGE 4 ====================
.section-support {
    min-height: 600px;

    &__content-container {
        display: flex;
        justify-content: space-around;
    }

    &__left-wrapper {
        height: 350px;
        width: 370px;
    }

    &__gif {
        border-radius: 30px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__text {
        //@include font-poppins_regular;
        //@include text-format($color: #555555, $font-size: 18px, $line-height: 32px);
        margin-bottom: 50px;
    }
}

.footer {
    &__nav-menu {
        display: flex;
        gap: 30px;
    }

    &__item {
        font-family: "Poppins-SemiBold";
        font-weight: 600;
        font-style: normal;
        color: white;
        font-size: 18px;
        line-height: 32px;
    }

    &__symbol {
        font-family: "Poppins-Regular";
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 18px;
    }

    &__text {
        font-family: "Poppins-Regular";
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 18px;
        line-height: 32px;
    }
}




@import "_relative.scss";